{% extends 'base.html.twig' %}

{% block title %}Modifier une catégorie{% endblock %}

{% block body %}
    <h1>Modifier une catégorie</h1>

    {{ include('back/category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_category_index') }}">Retour</a>

    {{ include('back/category/_delete_form.html.twig') }}
{% endblock %}
