{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <h1>Nouvelle catégorie</h1>

    {{ include('back/category/_form.html.twig') }}

    <a href="{{ path('app_back_category_index') }}">Retour</a>
{% endblock %}
