<form  class="right-align" method="post" action="{{ path('app_front_recipe_uncomment', {'id': comment.id}) }}" onsubmit="return confirm(' Etes vous sur de vouloir suprimer votre commentaire?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="btn-floating red right"><i data-feather="trash-2"  stroke-width="2" stroke="white"></i></button>
</form>
