nav {
    background-color: white;
    box-shadow: 0px 0px 50px rgba(231, 72, 74, 0.3);
    .active {
        color: $primary-color;
        box-shadow: inset 0 -5px 0 $primary-color;
    }
    ul {
        a {
            color: black;
            font-weight: bold;
        }
        a:hover {
            color: $primary-color;
        }
    }
    .logo {
        color: $primary-color;
        font-size: 25px;
    }
}
