nav {
    background-color: white;
}

nav ul a {
    color: black;
    font-weight: bold;
}

nav ul a:hover {
    color: #E7484A;

    #home {
        color: #E7484A;
    }
}

nav .brand-logo {
    color: black;
}

.logo {
    color: #E7484A;
    font-size: 25px;
}

