#recipe {
  position: relative;
  .icon-margin {
    margin-bottom: 20px;
    display: inline-grid;
  }

  .header-card{
    width: 100%;
    height: 50px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.30);
    margin-bottom: -8px;
    border-radius: 9px 9px 0 0;

    p{
      padding: 11px 20px;
      font-size: 1.2rem;
    }
  }

  .container-icon {
    display: flex;
    justify-content: space-evenly;

    .icon-favorite{
      width: 70px;
      background-color: white;
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.14);
      text-align: center;
      padding: 7px;
      border-radius: 15px;
    }

    .icon-repost{
      width: 70px;
      background-color: white;
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.14);
      text-align: center;
      padding: 7px;
      border-radius: 15px;
    }

    .icon-like{
      width: 70px;
      background-color: white;
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.14);
      text-align: center;
      padding: 8px;
      border-radius: 15px;
    }
  }

  .container-img {
    text-align: center;
  }

  .col .l8 {
    margin-left: 20%;
  }

  td, th {
    text-align: center;
  }

  .card {
    margin: 0.5rem 0 6rem 0;
  }

  h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    font-size: 2.5rem;
    text-align: left;
  }

  .container-step {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;

    .step{
      font-size: 1.5rem;
    }

    p{
      margin: 0;
      margin-top: 5px;
    }
  }

  .container-ingredient{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

    .container-quantity{
      padding-top: 10px;
    }
  }

  .btn{
    margin-right: 15px;
    width: 125px;
    margin-bottom: 15%;
    a {
      color: white;
    }
  }

  .btn-flat{
    display: flex;
    align-items: center;
  }
}

.ingredient-form ,.recipe-step-form{
  box-shadow: 0px 0px 50px rgba(50, 50, 50, 0.3);
  background-color: white;
  padding: 2rem;
}

.favorite-card{
  border-radius: 28px !important;
}

.preview{
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius:20px;
}

.collection .collection-item.avatar{
  padding-left:20px;
}

.username-follow {
  margin-left: 4rem;
}