{% extends 'base.html.twig' %}

{% block body %}
    <h4>Mot de passe oublié</h4>
    <p>Un email vous a été envoyé si vous faites partie de notre application.</p>
    <a href="{{ path('app_front_auth_login') }}">Se connecter</a>
{% endblock %}