{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('app_front_auth_login') }}" method="post">
        <h4>Connexion</h4>
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="_username" value="{% if error %}{{ error.token.user }}{% endif %}"/>
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="_password" />
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
        <button type="submit" class="btn">Connexion</button>
    </form>
    <a href="{{ path('app_front_auth_forgottenPassword') }}">Mot de passe oublié ?</a>
{% endblock %}