{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey }}
        </div>
    {% endif %}

    <div class="row">
        <h4 class="centger-align">Connexion</h4>
        <form class="col s12" action="{{ path('app_front_auth_login') }}" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" name="_username">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" name="_password">
                    <label for="password">Mot de passe</label>
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <button type="submit" class="waves-effect waves-light btn">Connexion</button>
        </form>
        <a href="{{ path('app_front_auth_forgottenPassword') }}">Mot de passe oublié ?</a>
    </div>
{% endblock %}