{% extends 'base.html.twig' %}

{% block title %}New Recipe{% endblock %}

{% block body %}
    <h1>Créer une  recette</h1>

    {{ include('front/recipe/_form.html.twig') }}

    <a href="{{ path('recipe_index') }}">Retour</a>
{% endblock %}
