
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Foody</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/explorer">Explorer</a>
            </li>
            {% if (is_granted('IS_AUTHENTICATED_FULLY')) %}
                <li class="nav-item">
                    <a class="nav-link" href="/recipe/new">Ajouter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Déconnexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/{{ app.user.username }}">@{{ app.user.username }}</a>
                </li>

            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Inscription</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
