<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Foody</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if (is_granted('IS_AUTHENTICATED_FULLY')) %}
                <li><a href="/explorer">Explorer</a></li>
                <li><a href="/recipe/new">Ajouter</a></li>
                <li><a href="/logout">Déconnexion</a></li>
                <li><a href="/profile/{{ app.user.username }}">@{{ app.user.username }}</a></li>
            {% else %}
                <li><a href="/login">Connexion</a></li>
                <li><a href="/register">Inscription</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
