<<<<<<< HEAD
Cliquez sur ce <a href="{{ SERVER_URL }}/registerSuccess/{{ token }}">lien</a> pour activer votre compte
=======
<h1>Cliquez</h1> sur ce <a href="{{ SERVER_URL }}/login/{{ token }}">lien</a> pour activer votre compte
>>>>>>> Fix conflicts
