/* label color */
.input-field label {
  color: $primary-color;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: $primary-color;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid $primary-color;
  box-shadow: 0 1px 0 0 $primary-color;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid $primary-color;
  box-shadow: 0 1px 0 0 $primary-color;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid $primary-color;
  box-shadow: 0 1px 0 0 $primary-color;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: $primary-color;
}