{% extends 'base.html.twig' %}

{% block title %}Modifier son profil{% endblock %}

{% block body %}
    <h2>Modifier son profil</h2>

    {{ include('front/profile/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('front/profile/_delete_form.html.twig') }}

    <a href="{{ path('app_front_profile_show', {'username': app.user.username}) }}" class="btn btn-primary grey lighten-2">Retour</a>

{% endblock %}
